body {
	padding-top: 60px;
}

.breadcrumb li:last-child {
	color: #333333;
}

.breadcrumb li:last-child .divider {
	display: none;
}

.spacer {
	height: 1em;
}

.docs {
	border-color: #D3D3D3;
	padding: 0 15px;
	margin-bottom: 15px;
}

.docs:last-child {
	margin-bottom: 0;
}

.docs li,
.docs li span {
	line-height: 14px;
}

.docs li.nav-header {
	margin: 0 -15px 0 -15px;
	text-transform: none;
}

.docs li.module {
	background-color: #D3D3D3;
	font-family: monospace;
	font-weight: bold;
	font-size: 13px;
}

.docs li.section {
	background-color: #EBEBEB;
}

.docs li.section,
.docs li.module a {
	padding: 0 15px;
	color: black;
}

.docs li.module a:hover {
	background: none;
}

.code {
	font-family: monospace;
}

.content h1 {
	display: inline-block;
}

.content h2, .content h3, .content h4 {
	margin-top: 0.75em;
	display: inline-block;
}

.search-item h3 {
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
}

.search-item h3 a {
	text-decoration: underline;
}

.search-item p {
	height: 18px;
	text-align: justify;
	margin-bottom: 10px;
}

.help-block {
	margin-top: -10px;
	font-size: 11px;
}

#headings li {
	-webkit-transition: margin linear 0.2s;
	-moz-transition: margin linear 0.2s;
	-ms-transition: margin linear 0.2s;
	-o-transition: margin linear 0.2s;
	transition: margin linear 0.2s;
	margin: 20px 0 0;
	padding: 0 0 10px 0;
	border-bottom: 1px #ccc solid;
}

#headings li#model {
	display: none;
}

#headings li:last-child {
	border-bottom: none;
}

#headings li.subheading {
	margin-left: 50px;
}

#headings textarea {
	resize: vertical;
}
.ace_wrapper {
	position: relative;
	width: 100%;
	height: 250px;
	border-radius: 4px;
	border-bottom-right-radius: 0;
	box-sizing: border-box;
	border: 1px solid #DDD;
	background: white;
}

.editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}